/* ************************************************************************
 * !!!!!!!! FONT FILES ARE NOT PART OF THE OPEN SOURCE DISTRIBUTION !!!!!!!
 * ************************************************************************/
@font-face {
	font-family: 'uico';
	src: url('../../../all/css/ultimate/icomoon-ultimate.eot');
	src: url('../../../all/css/ultimate/icomoon-ultimate.eot?#iefix') format('embedded-opentype'), url('../../../all/css/ultimate/icomoon-ultimate.svg#icomoon-ultimate') format('svg'), url('../../../all/css/ultimate/icomoon-ultimate.woff') format('woff'), url('../../../all/css/ultimate/icomoon-ultimate.ttf') format('truetype');
}
.uico {
	font-family: uico;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	font-variant: normal;
	font-size: 100%;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
/* ************************************************************************
 * TAG CUSTOMIZATION
 * ************************************************************************/
html {
	background-color: #F8F8F8;
	background-image: url('../img/bg-noise-grey.jpg');
}
body {
	margin: 0 auto;
	max-width: 768px;
	min-width: 320px;
	width: 90%;
	background-color: #fff;
	border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	-webkit-border-radius: 0 0 20px 20px;
}
@media screen and (max-width: 480px) {
	body {
		width: 100%;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
}
a:link {
	color: #0784b2;
}
a:visited {
	color: #811453;
}
a:hover {
	color: #0AC9FF;
}
a:active {
	color: #EBBD02;
}
input {
	font-family: "Lucida Console", Monaco, monospace;
}
input:disabled {
	background-color: #fff;
	color: #000;
	opacity: 1;
}
/* ************************************************************************
 * AUVERCLOU GUI CUSTOMIZATION
 * ************************************************************************/
#snb {
	margin: 0 auto;
}
/* ************************************************************************
 * ANIMATION
 * ************************************************************************/
/* Notification icon */
.icon-notif {
	animation: bounce 1s linear infinite;
	-webkit-animation: bounce 1s linear infinite;
	-moz-animation: bounce 1s linear infinite;
	ms-animation: bounce 1s linear infinite;
}
@-webkit-keyframes bounce {
0% {-webkit-transform: scale(1)}
20% {-webkit-transform: scale(1.2)}
80% {-webkit-transform: scale(.8)}
100% {-webkit-transform: scale(1)}
}
@keyframes bounce {
0% {transform: scale(1)}
50% {transform: scale(1.2)}
70% {transform: scale(.8)}
100% {transform: scale(1)}
}
/* flag rotation */
.rotation:hover {
	animation: rotwait 2s linear infinite;
	-webkit-animation: rotwait 2s linear infinite;
	-moz-animation: rotwait 2s linear infinite;
	ms-animation: rotwait 2s linear infinite;
}
@keyframes rotwait {
0% { transform:rotate(0deg) }
50% { transform:rotate(180deg) }
100% { transform:rotate(360deg) }
}
@-webkit-keyframes rotwait {
0% { -webkit-transform:rotate(0deg) }
50% { -webkit-transform:rotate(180deg) }
100% { -webkit-transform:rotate(360deg) }
}
/* ************************************************************************
 * LOGO
 * ************************************************************************/
.logo {
	position: relative;
	text-align: center;
	vertical-align: top;
	color: #ccc;
}
.logo > div:first-child {
	height: 100%;
}
.logo > div:last-child {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25% 0;
	font-size: 50%;
	color: #444;
}

/* ************************************************************************
 * USEFUL CLASSES
 * ************************************************************************/
.shadow {
	box-shadow: 0 0 20px #444;
	-moz-box-shadow: 0 0 20px #444;
	-webkit-box-shadow: 0 0 20px #444;
}
.border-grey {
	border-color: #ccc;
}
.border-blue {
	border-color: #08A1D9;
}
.border-yellow {
	border-color: #FFCC00;
}
.color-gray {
	color: #888;
}
.color-blue {
	color: #08A1D9;
}
.color-yellow {
	color: #FFCC00;
}
.color-yellow-dark {
	color: #EBBD02;
}
.back-white {
	background: #fff;
}
.w60 {
	min-width: 60px;
}
.arial {
	font-family: Arial, Helvetica, sans-serif;
}
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.clear {
	clear: both;
}
/* ************************************************************************
 * LOCKER UI CLASSES
 * ************************************************************************/
section {
	display: none;
}
/* A module is subsection defined by a color */
.module {
}
section > .module:last-child {
	border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	-webkit-border-radius: 0 0 20px 20px;
}
/* Input with label and error */
h3, .label, .input, .bar-btn {
	margin: 0 auto;
	max-width: 480px;
	min-width: 280px;
	width: 75%;
}
h3 {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 24px;
}
.label {
	font-size: 90%;
	padding: 2px;
}
.label .comment {
	font-size: 90%;
	color: #888;
}
.input {
	table-layout: fixed;
	border-spacing: 0;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fff;
}
.input:hover {
	border-color: #FFCC00;
}
.input td {
	padding: 0;
}
.input input, .input .uico {
	border: none;
	font-size: 100%;
	height: 24px;
	line-height: 24px;
}
.input input {
	width: 100%;
	outline: none;
	padding: 0;
	background: #fff;
	color: #444;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
}
.input input:focus {
	color: #08A1D9;
}
.input .uico {
	width: 24px;
	text-align: center;
}
.input .input-error {
	padding: 0 4px 0 0;
	font-size: 75%;
	line-height: 18px;
	color: #f00;
}
/* Bar of buttons and error area */
.bar-btn {
	margin-top: 5px;
	table-layout: fixed;
	border-spacing: 0;
	padding: 0;
	min-height: 60px;
}
.bar-btn td {
	padding: 0;
}
.bar-btn .bar-error {
	max-width: 30%;
	font-size: 75%;
	color: #f00;
}
.bar-btn .btns {
	text-align: right;
	width: 60%;
}
.bar-btn .btn, .item-del .btn {
	display: inline-block;
	min-width: 0;
	float: none;
	font-size: 90%;
}
.item-del .btn {
	margin-top: 10px;
}
.bar-head .btn {
	display: inline-block;
	min-width: 0;
	float: none;
	margin: 10px 0 10px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	background: #eee;
	text-align: center;
	font-size: 90%;
	box-shadow: 0px 20px 20px #fff inset;
	-moz-box-shadow: 0px 20px 20px #fff inset;
	-webkit-box-shadow: 0px 20px 20px #fff inset;
	cursor: pointer;
}
.btn:hover {
	color: #0AC9FF;
}
.btn:active {
	background: #fff;
	box-shadow: 0px 1px rgba(0,0,0,0.5) inset;
	-moz-box-shadow: 0px 1px rgba(0,0,0,0.5) inset;
	-webkit-box-shadow: 0px 1px rgba(0,0,0,0.5) inset;
}
.selected {
	background: #ddd;
	color: #08A1D9;
	text-shadow: 0 1px #fff;
	box-shadow: 0px 2px rgba(0,0,0,0.4) inset;
	-moz-box-shadow: 0px 2px rgba(0,0,0,0.4) inset;
	-webkit-box-shadow: 0px 2px rgba(0,0,0,0.4) inset;
}
.btns .btn:last-child {
	margin-right: 0;
}
/* Heading bar */
.bar-head {
	background: #eee;
	height: 60px;
}
/* List item */
.item:hover input {
	color: #0a0;
}
.item > td {
	height: 60px;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
.item > td:nth-child(1) {
	width: 30px;
	text-align: center;
	color: #08A1D9;
	text-shadow: 0 1px rgba(0,0,0,0.5);
	cursor: pointer;
}
.item > td:nth-child(1) > div {
	height: 30px;
	line-height: 30px;
}
.item > td:nth-child(2) {
	position: relative;
	cursor: pointer;
}
.item > td:nth-child(2) .item-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
}
.item > td:nth-child(2) .item-name {
	margin: 4px;
	border: 2px solid #fff;
	height: 32px;
	padding: 0 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.item > td:nth-child(2) .item-name:hover {
	border-color: #FFCC00;
}
.item > td:nth-child(2) .item-name input {
	display: block;
	height: 32px;
	width: 100%;
	border: none;
	outline: none;
	padding: 0;
	line-height: 32px;
	font-size: 100%;
	cursor: pointer;
}
.item > td:nth-child(2) .item-name input:focus {
	color: #08A1D9;
}
.item > td:nth-child(2) .item-time {
	height: 16px;
	line-height: 16px;
	padding: 0 12px;
	font-size: 12px;
	color: #888;
	cursor: default;
}
.item > td:nth-child(2) .item-del {
	display: none;
	height: 60px;
	font-size: 90%;
}
.item > td:nth-child(3) {
	width: 60px;
	line-height: 60px;
	font-size: 200%;
	color: #c00;
	text-align: center;
	cursor: pointer;
}
.item > td:nth-child(3):hover {
	color: #f00;
}
/* First and last items */
.item:first-child > td:nth-child(1) > div:first-child, .item:last-child > td:nth-child(1) > div:last-child {
	color: #aaa;
	text-shadow: none;
	cursor: default;
}

/* ************************************************************************
 * SPECIFIC ID DEFINITION
 * ************************************************************************/
/* Section notif */
#notif {
	height: 60px;
	background: #FFCC00;
	border-bottom: 1px solid #ccc;
}
#notif table {
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
}
#notif tr td:first-child {
	padding: 5px 10px 5px 20px;
}
#notif tr td:last-child {
	width: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 200%;
	text-align: center;
	cursor: pointer;
}
/* Module brand */
#brand {
	background: #fff;
	font-size: 150%;
	font-variant: small-caps;
}
#logo {
	margin: 10px;
	vertical-align: middle;
}
#langEn, #langFr {
	display: block;
	float: right;
	margin: 10px 10px 0 0;
	vertical-align: middle;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	cursor: pointer;
}
/* Module login */
#login {
	background-color: #F4F4F4;
}
#capcha-refresh {
	padding: 0;
	width: 170px;
	cursor: pointer;
	color: #0a0;
}
#capcha-refresh img {
	display: block;
	float: right;
	border: none;
}
#login-btn {
	width: 40px;
}
/* Module subscribe */
#subscribe {
	background: #fff;
}
#publicNotes {
	background: #F4F4F4;
	padding: 10px 20px;
	text-align: center;
	font-size: 90%;
	color: #888;
}
#secured {
	width: 100%;
	border-spacing: 0;
	padding: 0;
}
#secured td {
	width: 50%;
}
#secured tr td:first-child {
	text-align: right;
	color: #444;
	text-shadow: 0 1px #fff;
}
#secured tr td:last-child {
	text-align: left;
}
#secured img {
	width: 50px;
	height: 50px;
}
/* List header */
#logout {
	font-size: 100%;
}
@media screen and (max-width: 639px) {
	#pwd-toggle, #print-btn {
		display: none;
	}
}
#note-new {
	float: right;
	margin-right: 10px;
	width: 40px;
}
#note-search {
	float: right;
	margin: 16px 0;
	width: 160px;
}
#note-search input, #note-search .uico {
	float: left;
	border: 2px solid #ccc;
	padding: 0;
	background: #fff;
	height: 24px;
	line-height: 24px;
	font-size: 100%;
}
#note-search input {
	display: block;
	outline: none;
	color: #444;
	width: 120px;
	padding: 0 4px;
	font-size: 90%;
	border-left: none;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	/* Trick to prevent inner shadow on mobile safari */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(255,255,255)));
}
#note-search input:focus {
	color: #08A1D9;
}
#note-search .uico {
	color: #888;
	width: 24px;
	text-align: center;
	border-right: none;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	cursor: pointer;
}
#note-search:hover > input, #note-search:hover > div {
	border-color: #FFCC00;
}
/* List empty */
#list-empty {
	background: #fff;
}
#list-empty .uico {
	color: #0a0;
}
#list-empty .emptext {
	display: block;
	margin: 0 2px;
	padding: 3px 5px;
	color: #080;
	font-size: 75%;
}
#list-empty > div:nth-child(1) {
	float: left;
	width: 58px;
	text-align: center;
}
#list-empty > div:nth-child(2) {
	float: right;
	width: 80px;
	text-align: center;
}
#list-empty > div:nth-child(3) {
	float: right;
	width: 180px;
	text-align: center;
}
/* List of note descriptor */
#list-full {
	background: #fff;
	border-top: 1px solid #ccc;
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
	padding: 0;
}
/* Text edit toolbar: Only for large computer screen - not touch screen */
#toolbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
}
#toolbar > table {
	table-layout: fixed;
	margin: 0 auto;
	padding: 0 4px;
	max-width: 768px;
	height: 100%;
	width: 90%;
	background-color: #eee;
	border-spacing: 0;
}
#toolbar td {
	text-align: center;
	width: 38px;
	padding: 0;
	cursor: pointer;
}
#toolbar td:hover {
	background-color: #ddd;
}
#toolbar td:active {
	background-color: #ccc;
}
/* Text edit head */
#bar-text {
	margin-top: 40px;
	table-layout: fixed;
	border-spacing: 0;
	padding: 0;
	width: 100%;
}
#bar-text td {
	padding: 0;
}
#bar-text tr td:nth-child(1), #bar-text tr td:nth-child(3) {
	width: 60px;
}
#bar-text tr td:nth-child(2) {
	text-align: center;
}
#bar-text tr td:nth-child(2) > div:first-child {
	max-height: 40px;
	overflow: hidden;
}
#bar-text tr td:nth-child(2) > div:last-child {
	height: 20px;
	line-height: 20px;
	color: #888;
	font-size: 75%;
	overflow: hidden;
}
@media screen and (max-width: 919px) {
	#toolbar {
		display: none;
	}
	#bar-text {
		margin-top: 0;
	}
}
/* Text edit area and default UI when not when decrypted */
#text-edit {
	padding: 20px;
}
#text-content, #text-empty {
	margin: 0;
	outline: none;
	border: 2px solid #ccc;
	padding: 10px;
	min-height: 100px;
}
#text-content {
	display: none;
	background-image: url('../img/bg-paper.png');
	text-shadow: 0 1px #fff;
	font-family: "Lucida Console", Monaco, monospace;
	color: #444;
	min-height: 600px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#text-content:hover {
	border-color: #FFCC00;
}
#text-content:focus {
	border-color: #08A1D9;
	color: #000;
}
#text-empty {
	background: #ccc;
	text-align: center;
	font-size: 90px;
	line-height: 100px;
	color: #aaa;
	text-shadow: 0 -1px rgba(0,0,0,0.6), 0 1px #eee;
}
/* Text edit for small screen */
@media screen and (max-width: 480px) {
	#text-edit {
		padding: 0;
	}
	#text-content, #text-empty {
		margin: 0;
		width: 94%;
		padding: 10px 3%;
		border: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
}
/* Background for new password, encryption key definition and input */
#key-new, #key-enter, #pwd-new {
	display: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: rgba(255,0,0,0.2);
	background-image: url('../img/bg-linetrans.png');
}
#key-enter {
	background-color: rgba(0,255,0,0.2);
}
#pwd-new {
	border-bottom: none;
	background-color: rgba(255,192,0,0.2);
}
/* Printable list */
#print .bar-head {
	width: 100%;
	cursor: pointer;
	text-align: center;
	font-size: 200%;
	color: #888;
	text-shadow: 0 1px #fff;
}
#print-list {
	min-height: 40px;
	margin-bottom: 40px;
}
.print-note-title {
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 20px;
	background-color: #FCFCFC;
	min-height: 10px;
	color: #08A1D9;
	text-align: center;
}
.print-note-content {
	font-family: Monaco;
	padding: 20px;
	min-height: 20px;
	font-size: 90%;
}
@media screen and (max-width: 480px) { 
	.radio {
		width: 100%;
		border-left: none;
		border-right: none;
	}
	#snb .verb {
		display: none;
	}
}
/* ************************************************************************
 * EoF
 * ************************************************************************/