/* ************************************************************************
 * AUVERCLOUD MAIN CSS
 * ************************************************************************/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}
fieldset {
	margin: 0;
	border: none;
	padding: 5px 20px 0 20px;
}
a {
	color: #066F96;
}
.hover a:hover {
	color: #EBBD02;
}
a:active {
	color: #444;
}
.hover a:active {
	color: #444;
}
h1 {
	margin: 20px;
	font-size: 28px;
	line-height: 40px;
	font-weight: normal;
	text-transform: uppercase;
}
h2 {
	margin: 20px;
	font-size: 21px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
}
.hover {
	/* Used when :hover selector to be able to disable it on touch screen */
}
.hidden {
	display: none;
}
.gradient-liter {
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
}
.gradient-lite {
	background: rgb(221,221,221); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(221,221,221,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
}
.gradient-dark {
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(102,102,102,1) 0%, rgba(68,68,68,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(68,68,68,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(68,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(68,68,68,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(68,68,68,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(102,102,102,1) 0%,rgba(68,68,68,1) 100%); /* W3C */
}
.transparent {
	opacity: 0;
}
.opaque {
	opacity: 1;
}
/* ------------------ FONT AND TEXT ------------------ */
.no-font {
	font-size: 0;
}
.no-decoration {
	text-decoration: none;
}
.semi {
	font-weight: 600;
}
.biggest {
	text-transform: none;
	font-size: 200%;
}
.bigger {
	text-transform: none;
	font-size: 125%;
}
.big {
	text-transform: none;
	font-size: 110%;
}
.small {
	text-transform: none;
	font-size: 90%;
}
.smaller {
	text-transform: none;
	font-size: 75%;
}
.smallest {
	text-transform: none;
	font-size: 50%;
}
.upper {
	text-transform: uppercase;
}
.bold {
	font-weight: bold;
}
.tleft {
	text-align: left;
}
.tright {
	text-align: right;
}
.center {
	text-align: center;
}
.justify {
	text-align: justify;
}
/* ------------------ COLOR ------------------ */
.blue {
	color: #08A1D9;
}
.blue-lite {
	color: #0AC9FF;
}
.blue-dark {
	color: #066F96;
}
.yellow {
	color: #fc0;
}
.yellow-dark {
	color: #EBBD02;
}
.green {
	color: #0a0;
}
.green-lite {
	color: #0f0;
}
.green-dark {
	color: #080;
}
.orange {
	color: #f80;
}
.red {
	color: #a00;
}
.red-lite {
	color: #f00;
}
.pink {
	color: #FF33CC;
}
.white {
	color: #fff;
}
.grey {
	color: #888;
}
.grey-dark {
	color: #666;
}
.grey-lite {
	color: #ccc;
}
.black {
	color: #000;
}
.code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
.tlite {
	text-shadow: 0 1px #fff;
}
.tdark {
	text-shadow: 0 1px #000;
}
.wphone {
	color: #68217A;
}
.android {
	color: #77C159;
}
/* ------------------ ADAPTATIVE BOX STRUCTURE ------------------ */
.relative {
	position: relative;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
.iblock {
	display: inline-block;
}
.container:after {
	content: "";
	clear: both;
	display: block;
}
.fl50, .half, .quarter2 {
	float: left;
	width: 50%;
}
.fl33, .third, .third1 {
	float: left;
	width: 33.33%;
}
.fl66, .third2 {
	float: left;
	width: 66.66%;
}
.fl25, .quarter, .quarter1 {
	float: left;
	width: 25%;
}
.fl75, .quarter3 {
	float: left;
	width: 75%;
}
.fl100, .full {
	float: left;
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.half, .third, .third1, .third2, .quarter, .quarter1, .quarter2, .quarter3 {
		width: 100%;
	}
}
/* ------------------ SIZE & TRANSFORMATION ------------------ */
.min-w60 {
	min-width: 60px;
}
.padding-h {
	padding: 0 20px;
}
.scale0 {
	-webkit-transform: scale(0.0);
	transform: scale(0.0);
}
.scale1 {
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
}
/* ************************************************************************
 * BUTTON
 * ************************************************************************/
.btn {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	vertical-align: top;
	text-align: center;
	/* Avoid blink on iOS */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/* Avoid Text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/* Mouse cursor UI */
	cursor: pointer;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
	font-size: 110%;
}
.btn.primary, .btn.secondary, .btn.inactive, .btn.success, .btn.error, .btn.warning, .btn.default {
	display: inline-block;
	border-radius: 5px;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: #08A1D9;
	color: #fff;
}
.btn.default {
	background-color: transparent;
	color: #fff;
}
.btn.primary {
	background-color: #08A1D9;
	color: #fff;
}
.hover .btn.primary:hover {
	background-color: #066F96;
	color: #fff;
}
.btn.secondary {
	background-color: #444;
	color: #fff;
}
.hover .btn.secondary:hover {
	background-color: #888;
}
.btn.inactive {
	background-color: #ccc;
	color: #aaa;
}
.btn.success {
	background-color: #0a0;
	color: #fff;
}
.hover .btn.success:hover {
	background-color: #0c0;
}
.btn.error {
	background-color: #a00;
	color: #fff;
}
.hover .btn.error:hover {
	background-color: #c00;
}
.btn.warning {
	background-color: #fc0;
	color: #000;
}
.hover .btn.warning:hover {
	background-color: #EBBD02;
}
.btn.double {
	padding: 5px 10px;
	height: 30px;
	line-height: 15px;
	font-size: 10px;
}
.btn.left {
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #F8F8F8;
}
.btn.middle {
	border-radius: 0;
	border-right: 1px solid #F8F8F8;
}
.btn.right {
	border-radius: 0 5px 5px 0;
}
.btn:active {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
.btn a {
	color: #fff;
	text-decoration: none;
}
/* ************************************************************************
 * TOOLTIPSTER
 * ************************************************************************/
.tooltipster-base {
	z-index: 2500 /* Under .shadow */
}
.tooltip-custom {
	color: #0f0;
	background: #000;
	border: 1px solid #fff;
	border-radius: 20px;
}
.tooltip-custom .tooltipster-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
/* ************************************************************************
 * TAB
 * ************************************************************************/
.tab-ui {
	margin: 20px auto;
	width: 90%;
}
ul.tab-head {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	overflow-x: hidden;
	border-bottom: 4px solid #066F96;
}
ul.tab-head > li {
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 5px 8px;
	border-bottom: 2px solid transparent;
	border-radius: 5px 5px 0 0;
	background-clip: padding-box;
	background-color: #08A1D9;
	color: #fff;
	text-transform: uppercase;
	font-size: 75%;
	cursor: pointer;
}
ul.tab-head > li:first-child {
	margin: 0;
}
ul.tab-head > li.selected {
	border-bottom: 2px solid #066F96;
	background-color: #066F96;
	cursor: default;
}
ul.tab-head > li.primary:hover {
	background-color: #0AC9FF;
}
.tab-body {
	min-height: 20px;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0 0 10px 10px;
}
.tab-body > div {
	display: none;
	border-radius: 10px;
	padding: 10px;
	background-color: #F8F8F8;
}
.tab-body > div:selected {
	display: block;
}
/* ************************************************************************
 * FORM
 * ************************************************************************/
legend {
	width: 100%;
	padding-bottom: 2px;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px #fff;
}
.field {
	margin: 10px 0;
}
/* Textarea and Input */
textarea, input {
	-webkit-appearance: none; /* Remove default shadow */
	-moz-appearance: none; /* Remove default shadow */
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	color: #000;
}
input {
	padding: 0 5px;
	line-height: 30px;
}
input[type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	box-sizing: content-box;
	position: relative;
	height: auto;
	vertical-align: middle;
}
textarea:focus, input:focus {
	outline: 0;
	border: 1px solid #08A1D9;
}

input.no-right {
	border-radius: 5px 0 0 5px;
}
input:focus {
	color: #066F96;
}
textarea {
	padding: 5px;
}
.capcha {
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	width: 240px;
	border-radius: 5px;
}
.capcha img {
	display: block;
	float: left;
	height: 30px;
	width: 180px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-right: none;
	border-radius: 5px 0 0 5px;
	overflow: hidden;
}
.capcha input {
	display: block;
	float: left;
	width: 59px;
	height: 32px;
	border-left: none;
	border-radius: 0 5px 5px 0;
	box-shadow: none;
}
/* Success and failure icon */
.check-input {
	display: none;
	padding-left: 5px;
}
.check-input.icon-cross2 {
	color: #a00
}
.check-input.icon-checkmark3 {
	color: #0a0
}
.field.error {
	margin: 10px;
	line-height: 15px;
	min-height: 15px;
	color: #a00;
	font-size: 11px;
	text-align: right;
}
.err, .success {
	display: none;
}
.btn-bar-bottom {
	margin: 10px;
	height: 40px;
	font-size: 0; /* Trick to prevent space between inline-block */
	text-align: right;
}
.btn-bar-bottom .btn {
	margin-left: 10px;
}
.btn-bar-bottom .btn.right, .btn-bar-bottom .btn.middle {
	margin-left: 0;
}
/* ************************************************************************
 * SELECT TABLE
 * ************************************************************************/
table.select {
	width: 100%;
	cursor: pointer;
}
table.select tr > td {
	padding: 5px;
	border-top: 1px solid #ddd;
}
table.select tr:first-child > td {
	border-top: none;
}
table.select td .detail {
	font-size: 80%;
	color: #888;
}
.hover table.select tr:hover td {
	background-color: #ddd;
}
/* ************************************************************************
 * POPUP
 * ************************************************************************/
#popup {
	display: none;
	margin: 0 auto;
	width: 100%;
	max-width: 480px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,1);
}
#popup-head {
	height: 40px;
	line-height: 40px;
	border-radius: 10px 10px 0 0;
	padding: 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #fff;
}
#popup-body {
	background-color: #fff;
	color: #000;
	overflow: hidden;
}
#popup p {
	margin: 10px;
}
#popup .btn-bar-bottom {
	margin: 0;
	border-top: 1px solid #ccc;
	border-radius: 0 0 10px 10px;
	background: #eee;
	padding: 10px;
}
#popup .btn-bar-bottom .btn {
	margin-left: 10px;
	min-width: 40px;
}
/* ************************************************************************
 * MAIN MENU - AUVERCLOUD RUNTIME TEMPLATE CUSTOMIZATION
 * ************************************************************************/
.arc.menu {
	background: transparent;
}
.arc.menu > li > ul {
	background-color: #444;
}
.arc.menu  .submenu  span, .arc.menu  a {
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}
.arc.menu  a .sub {
	font-size: 10px;
}
.hover .arc.menu a:hover {
	background: rgba(0,0,0,0.5);
}
.arc.menu ul a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
	line-height: 32px;
	height: 32px;
}
/* ************************************************************************
 * SIDE MENU
 * ************************************************************************/
.wrapper-side-menu {
	position: relative;
	padding-left: 200px;
	min-height: 100px;
}
ul.side-menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	list-style: none;
	background-color: #444;
	overflow-x: hidden;
	overflow-y: auto;
}
.side-menu ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 20px;
}
.side-menu a {
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-menu > li {
	border-top: 1px solid #666;
}
.side-menu > li:first-child {
	border-top: none;
}
.side-menu > li > a {
	color: #0AC9FF;
	font-size: 12px;
	text-transform: uppercase;
}
.side-menu ul li {
	margin-left: 20px;
	border-top: 1px solid #555;
}
.side-menu ul li a {
	padding-left: 0;
	font-size: 13px;
}
/* ************************************************************************
 * SNIPPET
 * ************************************************************************/
pre.prettyprint {
	border: none;
	font-size: 13px;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
.snippet.prettyprint {
	margin: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	background: repeating-linear-gradient(
	0deg,
	#fff,
	#fff 10px,
	#E1F0FF 10px,
	#E1F0FF 11px,
	#fff 11px,
	#fff 25px
	);
	line-height: 25px;
}
/* ************************************************************************
 * HEADER
 * ************************************************************************/
header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #444;
	z-index: 1000;
}
nav {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1024px;
}
#header-logo img {
	display: inline-block;
	padding: 5px 10px;
	height: 40px;
	width: 51.2px;
}
#header-studio {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 28px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 1px #000;
	color: #fff;
}
.hover #header-studio:hover {
	color: #FFCC00;
}
#header-studio:active {
	color: #EBBD02;
}
/* ************************************************************************
 * MAIN CONTENT
 * ************************************************************************/
#main, .main {
	padding: 50px 0 33px 0; /* header and footer height */
}
a.anchor {
	display: block;
	position: relative;
	top: -50px; /* header height */
	visibility: hidden;
}
section {
}
article {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
}
article:after {
	content: "";
	clear: both;
	display: block;
}
/*___ PAGE TITLE ___*/
.title {
	position: relative;
	padding-left: 100px;
}
.title > [class^="icon-"], .title > [class*=" icon-"] {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100px;
	font-size: 60px;
	line-height: 70px;
	text-align: center;
}
.title > h1 {
	margin-bottom: 0;
}
.title > h2 {
	margin-top: 0;
	color: #888;
}
/* ************************************************************************
 * FOOTER
 * ************************************************************************/
footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #ccc;
	height: 32px;
	background-color: rgba(255,255,255,0.9);
	width: 100%;
	z-index: 1000;
}
footer > div {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1024px;
}
/* Social Network bar */
#snb {
	border-spacing: 0;
	height: 100%;
}
#snb td {
	padding: 0;
	height: 32px;
	line-height: 36px;
	vertical-align: middle;
	text-align: center;
}
#snb .verb {
	font-size: 11px;
	font-weight: 600;
	font-style: italic;
	text-transform: uppercase;
	padding: 0 5px;
	color: #000;
}
#snb .sn-ico {
	padding: 0 4px;
	font-size: 16px;
	color: #08A1D9;
	text-decoration: none;
	cursor: pointer;
}
.hover #snb .sn-ico:hover {
	color: #EBBD02;
}
/* Language selection */
.lang-btn {
	float: right;
	margin: 6px;
	width: 20px;
	height: 20px;
	background-size: contain;
	border-radius: 14px;
	/* For hovering fx */
	transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
}
.hover .lang-btn:hover {
	margin: 2px;
	width: 28px;
	height: 28px;
}
#lang-en {
	background-image: url('../img/flag-en-32x32.png');
}
#lang-fr {
	background-image: url('../img/flag-fr-32x32.png');
}
/* ************************************************************************
 * SHADOW, GLASS
 * ************************************************************************/
.shadow {
	z-index: 3000; /* By default, cover anything */
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
#glass {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	z-index: 5000;
}
/* ************************************************************************
 * EOF
 * ************************************************************************/